<%- include("./segments/top") %>
<%- include("./segments/nav") %>
<section id="main-container">
    <%- include("./segments/sidebar") %>
    <main>
        <div>
            <h1>Hola, <%= user.name %></h1>
            <p>Aún no se ha implementado el panel de resumen. Por lo pronto, selecciona una categoría en la barra lateral para ver más.</p>
        </div>
    </main>
</section>
<%- include("./segments/bottom") %>